.buddybot-btn-wrap {
    display: flex;
    gap: 7px;
}

.buddybot-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    color: #999;
    transition: color 0.2s ease;
    position: relative;
}

.buddybot-btn:hover {
    color: #333;
}

.buddybot-btn svg {
    width: 16px;
    height: 16px;
}

.buddybot-btn .buddybot-copied-text {
    position: absolute;
    top: -25px;
    right: 0;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.2s ease, transform 0.2s ease;
    pointer-events: none;
}

.buddybot-btn.buddybot-copied .buddybot-copied-text {
    opacity: 1;
    transform: translateY(0);
}

#buddybot-sample-instructions-modal .buddybot-list-group {
    height: 70vh;
    overflow: auto;
}