.buddybot-btn-wrap {
    display: flex;
    gap: 7px;
}

.buddybot-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    color: #999;
    transition: color 0.2s ease;
    position: relative;
}

.buddybot-btn:hover {
    color: #333;
}

.buddybot-btn svg {
    width: 16px;
    height: 16px;
}

.buddybot-btn .buddybot-copied-text {
    position: absolute;
    top: -25px;
    right: 0;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.2s ease, transform 0.2s ease;
    pointer-events: none;
}

.buddybot-btn.buddybot-copied .buddybot-copied-text {
    opacity: 1;
    transform: translateY(0);
}

#buddybot-sample-instructions-modal .buddybot-list-group {
    height: 70vh;
    overflow: auto;
}
.buddybot-assistant-preview{
    margin-top: 10px;  
}
.buddybot-assistant-preview::before{
   content: '';
   width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
    position: absolute;
    z-index: 3;
    margin-top: -10px;
    margin-left: 10px;

    
}
.buddybot-assistant-preview-header{
    background-color: white;
    padding: 20px 10px 0px 20px;

}
.toggle-more-details{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: black;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 20px;
}
.arrow-icon{
    margin-top: 2px;
    
}
.toggle-more-details.active .arrow-icon{
    transform: rotate(180deg);
    transition: transform 0.1s ease-in-out;
    
}
.buddybot-more-details{
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
    background-color: #D3D3D3;
    padding: 20px 10px 20px 50px;

    
}
.buddybot-more-details::before{
    content: '';
    width: 0;
     height: 0;
     border-left: 10px solid transparent;
     border-right: 10px solid transparent;
     border-bottom: 10px solid #D3D3D3;
     position: absolute;
     z-index: 3;
     margin-top: -30px;
     margin-left: -20px;
 
}