/* General Modal Styling */
.bb-modal-image {
    flex: 1;
}

.bb-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.bb-modal-text {
    flex: 2;
    padding: 30px;
}

.bb-modal-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}

.bb-modal-description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.5;
}

.bb-modal-actions {
    display: flex;
    gap: 10px;
}

.bb-dismiss-modal {
    margin-right: 10px;
}

.bb-get-started {
    background-color: #000;
    color: #fff;
}
