body {
    background: #fff !important;
}

.buddybot-rotate-icon {
    animation: icon-rotate 1s infinite linear;
}

@keyframes icon-rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#buddybot-playground-assistants-list {
    width: 250px;
}

#buddybot-playground-messages-list,
#buddybot-playground-threads-list{
    height: calc(100vh - 300px);
}