body {background: #fff !important;}
.buddybot-rotate-icon {animation: icon-rotate 1s infinite linear;}
@keyframes icon-rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
#buddybot-playground-assistants-list {width: 250px;}
#buddybot-playground-messages-list, #buddybot-playground-threads-list{
    height: calc(100vh - 450px);
}
#buddybot-playground-threads-list{
    height: calc(100vh - 234px);
    min-height: 150px;
}
.buddybot-threads-container:hover .buddybot-thread-delete{
    display: block!important;
}

.buddybot-thread-delete:hover{
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}
.buddybot-threads-container{
    box-sizing: border-box;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  color: #333;
  display: block;
  line-height: 1.8;
  overflow: hidden;
}
.buddybot-new-message-input-wrapper {
  border-radius: 20px;
  width : 90%;
}
#buddybot-new-message-input {
  background-color: transparent;
  font-size: 10px;
  resize: none; 
  min-height: 24px; 
  line-height: 1.5;
  outline: none;
}
#buddybot-new-message-input::placeholder {
  color: #aaa;
}
.buddybot-threads-container:hover {
    background-color:#F1F1F1;
}
.buddybot-threads-container.active{
    background-color:#F1F1F1 ;
    font-weight: 500;
    color: #2271b1;
}
.buddybot-threads-container.active .buddybot-threads-icon  svg{
    fill: #2271b1;
}
.buddybot-threads-container.active .buddybot-thread-delete svg{
    color: rgb(214, 16, 16);
} 
textarea {
    padding: 12px 50px 12px 15px; 
    border-radius: 20px;
    line-height: 1.5;
    resize: none;  
    max-height: 150px;
  }
  textarea:focus {
    border-color:#3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
  } 
  #buddybot-send-message-btn {
    right: 8%;
    transform: translateY(-50%);
    border: none;
    transition: background-color 0.2s ease;
    transform: rotate(45deg);
  } 
.buddybot-btn-new-thread:hover{
    color: #5662f6;
    background-color: white!important;
}
.buddybot-loading-spinner{
  width: 10px;
  height: 10px;
  animation: loaderSpinner 2s infinite linear alternate;
}
@keyframes loaderSpinner {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}
#buddybot-thread-spinner{
  left: 10%;
  margin-top: -10px!important;
  display: none;
}
.buddybot-border-radius-20{border-radius: 20px;}
.buddybot-box-vh-95{height: calc(95vh - 50px);}
#buddybot-threads-list{height: calc(100vh - 200px);}
#buddybot-left-container .buddybot-overflow-y::-webkit-scrollbar{
  width: 4px;
  border-radius: 20px;
}
 #buddybot-right-container .buddybot-overflow-y::-webkit-scrollbar{
  width: 4px;
  border-radius: 20px;
}
#buddybot-left-container .buddybot-overflow-y::-webkit-scrollbar-thumb{
  background: #b8b7b7;
  border-radius: 20px;
}
#buddybot-right-container .buddybot-overflow-y::-webkit-scrollbar-thumb{
  background: #b8b7b7;
  border-radius: 20px;
}
#buddybot-left-container .buddybot-overflow-y{
  margin-right: -15px!important;
}
 #buddybot-right-container .buddybot-overflow-y{
  margin-right: -8px!important;
}














