body{
    background-color: #f0f0f1!important;
}

#buddybot-settings-errors-list {
    word-wrap: break-word;       
    word-break: break-word;      
    overflow-wrap: break-word; 
}

.bb-settings-submit{
    display:flex
}

.buddybot-readonly{
    pointer-events: none;
    opacity: 0.5; 
}