/* #buddybot-vectorstore-section{
    margin : 5px 4px 2px;
} */

.buddybot-remote-file-status{
    font-size: .7em;
}

/* .wp-die-message, p {
    margin: 0.4em;
} */

#buddybot-progressbar-percentage{
    font-size: .7em;
}